<div class="content-card">
    <div class="content-card-info">
        <button 
        class="delete-btn" 
        data-id="<%= content.id %>" 
        data-parentdirurl="<%= locals.folderUrl %>"
        data-action="/delete/<%= (isFolder) ? 'folder' : 'file' %>"
        >
            <img class="delete-img" src="/trash.svg" alt="delete">
        </button>
        <p class="content-card-name"><%= content.name %></p>
    </div>
    <img 
        class="<%= (isFolder) ? 'folder-img' : 'file-img' %>" 
        src="/<%= (isFolder) ? 'folder' : 'file' %>.svg" 
        alt="<%= (isFolder) ? 'folder' : 'file' %>"
    >
    <p class="content-timestamp">
        Created: 
        <%= locals.format(content.createdAt, locals.formatStr) %>
    </p>
</div>