<div class="content-card">
    <div class="content-card-info">
        <p class="content-card-name"><%= content.name %></p>
        <button 
            class="delete-btn" 
            data-id="<%= content.id %>" 
            data-redirectUrl="<%= locals.currentUrl %>"
            data-isFolder="<%= isFolder %>"
            data-action="/delete/<%= (isFolder) ? 'folder' : 'file' %>"
        >
            <img class="delete-img" src="/trash.svg" alt="delete">
        </button>
    </div>
    <img 
        class="<%= (isFolder) ? 'folder-img' : 'file-img' %>" 
        src="/<%= (isFolder) ? 'folder' : 'file' %>.svg" 
        alt="<%= (isFolder) ? 'folder' : 'file' %>"
    >
    <p class="content-timestamp"><%= content.createdAt %></p>
</div>