<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.svg" type="image/svg">
    <link rel="stylesheet" href="/styles.css">
    <script src="/menuScript.js" defer></script>
    <title><%= docTitle %></title>
</head>
<body>
<div id="root">
    <%- include("partials/header") %>
    <main>
        <p class="folder-name"><%= folderTitle %>/</p>
        <div class="folder-contents">
            <form class="upload-file-form" action="/upload/file" method="POST" enctype="multipart/form-data">
                <input type="text" name="folderUrl" value="<%= folderUrl %>" hidden>
                <input type="text" name="folderId" value="<%= folderId %>" hidden>
                <label tabindex="0" class="upload-label" for="file">
                    <p class="upload-message">Click or drop file to upload</p>
                    <img class="new-content-img" src="/plus-box.svg" alt="plus">
                    <p class="upload-max-message">Max: 50MB</p>
                </label>
                <input class="upload-input" type="file" name="file" id="file" hidden>
            </form>
            <% for (let folder of folders) { %>
                <%- include("partials/contentCard", {content: folder, isFolder: true}) %>
            <% }%>
            <% for (let file of files) { %>
                <%- include("partials/contentCard", {content: file, isFolder: false}) %>
            <% } %>
        </div>
        <div class="delete-form-modal hidden">
            <p class="delete-form-title">Delete?</p>
            <div class="delete-form-btns">
                <button class="cancel-delete-btn" type="button">Cancel</button>
                <form class="delete-form" action="/" method="POST">
                    <input class="delete-url-input" type="text" name="url" hidden>
                    <input class="delete-name-input" type="text" name="name" hidden>
                    <button class="confirm-delete-btn">Delete</button>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>