<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.svg" type="image/svg">
    <link rel="stylesheet" href="/styles.css">
    <script src="/menuScript.js" defer></script>
    <title><%= docTitle %></title>
</head>
<body>
<div id="root">
    <%- include("partials/header") %>
    <main>
        <p class="folder-name"><%= folderTitle %>/</p>
        <div class="folder-contents">
            <p class="folder-banner">Folders</p>
            <div class="folders">
                <button class="create-folder-btn">
                    <p class="create-folder-message">Create folder</p>
                    <img class="new-content-img" src="/plus-box.svg" alt="plus">
                </button>
                <% for (let folder of folders) { %>
                    <%- include("partials/contentCard", {content: folder, isFolder: true}) %>
                <% }%>
            </div>
            <p class="file-banner">Files</p>
            <div class="files">
                <form class="upload-file-form" action="/upload/file" method="POST" enctype="multipart/form-data">
                    <input type="text" name="folderUrl" value="<%= folderUrl %>" hidden>
                    <input type="text" name="folderId" value="<%= folderId %>" hidden>
                    <label tabindex="0" class="upload-label" for="file">
                        <p class="upload-message">Click or drop file to upload</p>
                        <img class="new-content-img" src="/plus-box.svg" alt="plus">
                        <p class="upload-max-message">Max: 50MB</p>
                    </label>
                    <input class="upload-input" type="file" name="file" id="file" hidden>
                </form>
                <% for (let file of files) { %>
                    <%- include("partials/contentCard", {content: file, isFolder: false}) %>
                <% } %>
            </div>
        </div>
        <div class="delete-form-modal hidden">
            <p class="delete-form-title">Delete?</p>
            <div class="delete-form-btns">
                <button class="cancel-delete-btn" type="button">Cancel</button>
                <form class="delete-form" action="/" method="POST">
                    <input class="delete-url-input" type="text" name="url" hidden>
                    <input class="delete-name-input" type="text" name="name" hidden>
                    <button class="confirm-delete-btn">Delete</button>
                </form>
            </div>
        </div>
        <div class="create-folder-modal <%= (showFolderModal) ? '' : 'hidden' %>">
            <%- include("partials/errors") %>
            <form action="/upload/folder" method="POST">
                <input type="text" name="parentUrl" value="<%= folderUrl %>" hidden>
                <input type="text" name="parentId" value="<%= folderId %>" hidden>
                <div>
                    <label for="folder-name">Folder name</label>
                    <input type="text" id="folder-name" name="folderName" required>
                </div>
                <div>
                    <button class="cancel-folder" type="button">Cancel</button>
                    <button class="create-folder">Create</button>
                </div>
            </form>
        </div>
        <div class="file-details-modal <%= (showFileModal) ? '' : 'hidden' %>">
            <div>
                <button class="file-details-exit-btn">X</button>
            </div>
            <%- include("partials/errors") %>
            <form class="file-edit-form" action="/update/file" method="POST">
                <div>
                    <input 
                        class="file-edit-input" 
                        type="text" name="fileName" 
                        value="<%= (fileDetails) ? fileDetails.fileName : '' %>"
                        data-name="<%= (fileDetails) ? fileDetails.fileOriginalName : '' %>" 
                        disabled
                    >
                </div>
                <input 
                    type="text" 
                    name="fileUrl" 
                    class="file-edit-url" 
                    value="<%= (fileDetails) ? fileDetails.fileUrl : '' %>" 
                    hidden
                >
                <input 
                    type="text" 
                    name="fileDate" 
                    class="file-edit-date" 
                    value="<%= (fileDetails) ? fileDetails.fileDate : '' %>" 
                    hidden
                >
                <input 
                    type="text" 
                    name="fileOriginalName"
                    class="file-edit-original-name" 
                    value="<%= (fileDetails) ? fileDetails.fileOriginalName : '' %>" 
                    hidden
                >
                <div>
                    <button class="file-edit-btn" type="button">Edit</button>
                </div>
            </form>
            <p class="file-date-para">
                Created: 
                <span>
                    <%= (fileDetails) ? fileDetails.fileDate : '' %>
                </span>
            </p>
            <a 
                class="download-link" 
                href="<%= (fileDetails) ? fileDetails.fileDownloadLink : '/' %>" 
                download
            >
                Download
            </a>
        </div>
        <a class="download-link-hidden" href="#" download hidden></a>
    </main>
</div>
</body>
</html>